.calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.element {
    height: 4rem; /* h-16 */
    border: 1px solid #e5e7eb; /* border */
    padding: 0.25rem; /* p-1 */
    cursor: pointer; /* cursor-pointer */
    position: relative; /* relative */
  }
  
  .element:hover {
    background-color: #e5e7eb; /* hover:bg-gray-200 */
  }
  