/* My Courses Styles */

.details {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .details1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  td {
    background-color: #444;
    color: white;
  }
  
  td:hover {
    background-color: #555;
  }
  
  /* Loading State Styles */
  
  .loading {
    text-align: center;
    margin: 20px;
  }